/********************* reset style *********************/
html,
body,
#root {
  height: 100%;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --primary: #4cb3f8;
  --secondary: #c8e6fa;
  --light: #f5f8fa;
  --dark: #333333;
  --gray: #4d4d4d;
  --sub: #b3b3b3;
  --white: #ffffff;

  --ft24: 24px;
  --ft16: 16px;
  --ft12: 12px;
  --ft10: 10px;

  --rd-4: 4px;
  --rd-8: 8px;
  --rd-16: 16px;

  --sp-10: 10px;
  --sp-20: 20px;
  --sp-30: 30px;
  --sp-40: 40px;
  --sp-90: 90px;

  --icon-size: var(--ft24);
}

button {
  --height: var(--sp-40);
  --max-width: 90px;
  --min-width: var(--sp-40);

  display: inline-flex;
  flex-direction: column;

  min-height: var(--height);
  height: var(--height);
  max-height: var(--height);

  min-width: var(--min-width);
  width: var(--width);
  max-width: var(--max-width);

  border-radius: 4px;

  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  outline: none;
  border: none;

  padding-top: 2px;
  padding-bottom: 4px;

  svg {
    height: var(--ft24);
    width: var(--ft24);
    font-weight: bold;
    flex-shrink: 0;
  }
  span {
    line-height: var(--ft10);
    font-size: var(--ft10);
    font-weight: bold;
  }

  &.btn-small {
    --width: 40px;
  }

  &.btn-normal {
    --width: 90px;
  }

  &.plusIcon path {
    stroke-width: 2px;
  }

  &.btn-filled.btn-primary {
    background-color: var(--primary);
    color: var(--white);

    path {
      fill: var(--white);
      stroke: var(--white);
    }

    &:hover {
      background-color: #3c8ec4;
    }

    &:active {
      background-color: #347cab;
    }

    &:disabled {
      background-color: #4cb3f8;
    }
  }

  &.btn-outlined.btn-primary {
    background-color: var(--white);
    color: var(--primary);
    outline: 2px solid var(--primary);
    outline-offset: -2px;

    path {
      fill: var(--primary);
      stroke: var(--primary);
    }

    &:hover {
      background-color: #cccccc;
    }

    &:active {
      background-color: #b3b3b3;
    }

    &:disabled {
      background-color: var(--white);
    }
  }

  &.btn-filled.btn-dark {
    color: var(--white);
    background-color: #b3b3b3;
    path {
      fill: var(--white);
      stroke: var(--white);
    }

    &:hover {
      background-color: #999999;
    }

    &:active {
      background-color: #808080;
    }

    &:disabled {
      background-color: var(--white);
    }
  }
}

input,
button,
textarea {
  &:focus {
    outline: 1px solid var(--primary);
    outline-offset: 2px;
  }
}

.delete-icon {
  &:hover {
    background-color: #e6e6e6;
  }

  &:active {
    background-color: #cccccc;
  }
}

#root {
  display: flex;

  .sidebar {
    margin: 0;
    border-right: 1px solid var(--light);
    width: fit-content;
    padding: 0;

    display: flex;
    flex-direction: column;

    .header {
      padding-left: var(--sp-40);

      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: var(--sp-30);
      margin-bottom: 20px;

      span {
        font-weight: bold;
        font-size: var(--ft24);
        line-height: var(--ft24);
      }
    }

    .content-list {
      padding-left: var(--sp-40);
      flex-grow: 1;
      height: 0;
      overflow: auto;
      width: 290px;

      .sidebar-item {
        cursor: pointer;
        height: 44px;
        border-radius: var(--rd-4);
        display: flex;
        justify-content: space-between;
        font-size: var(--ft16);
        padding: 10px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          text-decoration-color: var(--dark);
        }

        .sidebar-link {
          letter-spacing: 0;
          color: var(--dark);
        }

        &.active {
          .sidebar-link {
            font-weight: bold;
            color: var(--primary);
          }
          background-color: var(--light);
          text-decoration-color: var(--primary);
        }

        &:hover:has(.active) {
          text-decoration-color: var(--primary);
        }
      }
    }

    .actions {
      padding: 10px;
      padding-left: var(--sp-40);
      display: flex;
      justify-content: space-between;
      background-color: var(--light);
    }
  }

  .main {
    flex-grow: 1;
    width: 0;

    display: flex;
    flex-direction: column;

    padding: var(--sp-30) var(--sp-40) 0 var(--sp-40);

    .page {
      flex-grow: 1;
      height: 0;
      padding: var(--sp-30);
      background-color: var(--light);
      border-radius: var(--ft16);

      display: flex;
      flex-direction: column;

      .title-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;

        input {
          padding: 0 var(--sp-30);
          width: 0;
          flex-grow: 1;
          height: var(--sp-40);
          border: none;
          outline: none;
          border-radius: 8px;
          background-color: transparent;
          color: var(--dark);
          font-size: var(--ft24);
          line-height: var(--sp-40);

          flex-shrink: 0;

          &:not(:disabled) {
            background-color: white;
            outline-offset: -1px;
            outline: 1px solid var(--secondary);

            &:focus {
              outline: 1px solid var(--primary);
            }
          }
        }
      }

      .button-group {
        display: flex;
        gap: 10px;
        flex-shrink: 0;
      }

      .body-section {
        display: flex;
        height: 0;
        flex-grow: 1;
        gap: 20px;

        textarea {
          padding: 26px var(--sp-30) 0 var(--sp-30);
          border: none;
          flex-shrink: 0;
          outline: none;
          resize: none;
          height: 100%;
          color: var(--dark);

          background-color: var(--white);

          border-radius: 8px;
          flex-grow: 1;

          &:not(:disabled) {
            outline-offset: -1px;
            outline: 1px solid var(--secondary);
            &:focus {
              outline: 1px solid var(--primary);
            }
          }
        }
      }
    }

    .not-found {
      background-color: white;
    }

    .footer {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--dark);
      font-size: 12px;
    }
  }
}
